/* responsive code */
@media (max-width:768px) {
    .toggle-menu {
        display: block;
    }
    .ul {
        display: none;
    }
    .Service-wrapper,
    .footer{
        Max-height: 300px;
        height: 100%;
    }
    .h1
    .h2
        {
        Max-height: 300px;
        display: none;
        
    }
    .contact-wrapper{
        display: none;
    }
    .wrapper-about-us
    {  
       display: none;
    }
    .logo{
        display:none ;
    }

}