/* responsive code */
@media (max-width:768px) {
    .toggle-menu {
        display: block;
    }
    .ul {
        display: none;
    }
    .Service-wrapper,
    .menu-wrapper,
    .wrapper-about-us,
    .contact-wrapper,
    .footer{
        Max-height: 300px;
        Height: 100%;

        display: block;
    }
    
    

}